// Fonts
$font-stack: Noto Sans !default;

// Colors
$background: rgb(255, 25, 25) !default;
$primary: rgb(35, 35, 35) !default;
$accent: rgb(35, 75, 13) !default;

// Paddings
$text-padding: 16px 8px 16px 8px !default;

// Borders
$border-radius: 2px !default;
