/*===========================================================================*/
/*                              VCP Layout                                   */
/*===========================================================================*/

#headsUpButtonBar {
  background-color: transparent;
}

#headsUpButtonBar > QPushButton {
  min-width: 40px;
  height: 40px;
  width: 40px;
}


.ErrorDialog > QPushButton {
  min-width: 75px;
}

.ErrorDialog > QLabel {
  background: transparent;
}

.ErrorDialog > QTextEdit {
  background: lighten($background, 3%);
  border: $border;
  border-radius: 3px;
  font: aaker;
}

.ErrorDialog #reportIssue {
  background: red;
  border-color: green;
}

.ErrorDialog #reportIssue {
  background: red;
  border-color: green;
}

.ErrorDialog #quitApp {
  border-color: rgba(255, 0, 0, 130);
}

.ErrorDialog #ignoreException {
  border-color: rgba(255, 255, 0, 90);
}

.DROEntry:disabled {
  border-color: transparent;
  background: transparent;
}

.GcodeTextEdit {
  font: 11pt "Roboto Mono";
  border: $border;
  border-radius: 2px;
}

.VirtualInput > QPushButton {
  min-width: 50px;
  min-height: 50px;
}
