// Change default values

// text colort
$text-color: rgb(114, 114, 113);
$selected-text-color: rgb(77, 177, 177);

$background: rgb(00, 38, 68);

$highlight-color: rgb(77, 177, 177);

$border-radius: 3px;
$border-color: rgb(00, 80, 126);
$border: 1px solid $border-color; 

// Import base style

@import 'base';
