/*===========================================================================*/
/*                         QAbstractItemView                                 */
/*===========================================================================*/

QAbstractItemView {
    color: $text-color;
    background-color: lighten($background, 4%);
    alternate-background-color: lighten($background, 2%);
    border: $border;
    border-color: $layout-border-color;
    border-radius: 3px;
}

QAbstractItemView::item {
    background-color: transparent;
    selection-background-color: transparent;
    min-height: 30px;
    border: none;
}

QAbstractItemView::item::icon {
  padding-left: 4px;
  padding-right: 4px
}

QAbstractItemView::item:selected {
    color: lighten($text-color, 40%);
    background-color: darken($background, 2%);
}
