/*===========================================================================*/
/*                                 QMenu                                     */
/*===========================================================================*/

QMenu,
QMenu:disabled {
    background: fgb(33, 35, 45);
    border: 1px solid rgb(77, 77, 77);
    border-radius: 4px;
}

QMenu::item {
    background: rgb(33, 35, 45);
    border-radius: 3px;
    min-height: 30px;
    min-width: 150px;
    padding: 0px 20px 0px 20px;
}

QMenu::item:selected {
    color: rgb(200, 200, 200);
    background-color: rgb(20, 20, 30);
}
