/*===========================================================================*/
/*                               QSpinBox                                    */
/*===========================================================================*/

QSpinBox,
QDoubleSpinBox {
    min-height: 25px;
    min-width: 150px;
    border: $border;
    border-radius: $border-radius;
    background-color: lighten($background, 4%);
}

QSpinBox:focus,
QDoubleSpinBox:focus {
    border-color: lighten($background, 40%);
}

QSpinBox::up-button,
QDoubleSpinBox::up-button {
    subcontrol-origin: margin;
    subcontrol-position: center right;
    width: 30px;
    height: 15px;
    border-left: 1px solid darken($border-color, 4%);
}

QSpinBox::up-bottom:hover,
QDoubleSpinBox::up-button:hover {

}

QSpinBox::up-button:pressed,
QDoubleSpinBox::up-button:pressed {

}

QSpinBox::up-arrow,
QDoubleSpinBox::up-arrow {
    image: url(icons/plus.png);
}

QSpinBox::up-arrow:off,
QSpinBox::up-arrow:disabled,
QDoubleSpinBox::up-arrow:off,
QDoubleSpinBox::up-arrow:disabled { /* off state when value is max */

}

QSpinBox::down-button,
QDoubleSpinBox::down-button {
    subcontrol-origin: margin;
    subcontrol-position: center left;
    width: 30px;
    height: 15px;
    border-right: 1px solid darken($border-color, 4%);
}

QSpinBox::down-button:hover,
QDoubleSpinBox::down-button:hover {

}

QSpinBox::down-button:pressed,
QDoubleSpinBox::down-button:pressed {

}

QSpinBox::down-arrow,
QDoubleSpinBox::down-arrow {
    image: url(icons/minus.png);
}

QSpinBox::down-arrow:off,
QSpinBox::down-arrow:disabled,
QDoubleSpinBox::down-arrow:off,
QDoubleSpinBox::down-arrow:disabled { /* off state when value in min */

}
