/*===========================================================================*/
/*                               QTabWidget                                  */
/*===========================================================================*/

QTabWidget {
    border: $border;
    border-radius: 5px;
    background: lighten($background, 4%);
}

QTabWidget::pane {
  border: 1px solid $layout-border-color;
  border-radius: 3px;
  padding: 1px;
  // background: lighten($background, 4%);
}

QTabWidget[tabPosition="0"]::pane { //top tabs
  margin-top: -1px;
  border-top-left-radius: 0px;
}

QTabWidget[tabPosition="1"]::pane { //bottom tabs
  margin-bottom: -1px;
  border-bottom-left-radius: 0px;
}

QTabWidget[tabPosition="2"]::pane { //west tabs
  margin-left: -1px;
  border-top-left-radius: 0px;
}

QTabWidget[tabPosition="3"]::pane { //east tabs
  margin-right: -1px;
  border-top-right-radius: 0px;
}

QTabWidget::tab-bar {

}

QTabWidget::tab-bar:top {

}

QTabWidget::tab-bar:bottom {

}

QTabWidget::tab-bar:left {

}

QTabWidget::tab-bar:right {

}
