/*===========================================================================*/
/*                                QTabBar                                    */
/*===========================================================================*/

QTabBar {
    color: $text-color;
    background: none;
}

QTabBar::tab {
    border: $border;
    border-radius: 3px;
}

QTabBar::tab:top,
QTabBar::tab:bottom {
    min-width: 10ex;
    min-height: 25px;
    padding: 0px 10px 0px 10px;
}

QTabBar::tab:left,
QTabBar::tab:right {
    min-height: 10ex;
    min-width: 25px;
    padding: 10px 0px 10px 0px;
}

QTabBar::tab:top {
  border-bottom: none;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

QTabBar::tab:bottom {
  border-top: none;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

QTabBar::tab:left { //east
  border-left: none;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

QTabBar::tab:right { //west
  border-right: none;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

QTabBar::tab:selected {
    background: lighten($background, 4%);
}

QTabBar::tab:!selected {
    background: $background;
}

QTabBar::tab:top:!selected {
    border-bottom: $border;
    margin-top: 1px;
}

QTabBar::tab:bottom:!selected {
    border-top: $border;
    margin-bottom: 1px;
}

QTabBar::tab:left:!selected { //east
    border-left: $border;
    margin-right: 1px;
}

QTabBar::tab:right:!selected { //west
    border-right: $border;
    margin-left: 1px; 
}

QTabBar::tab:top:!first,
QTabBar::tab:bottom:!first{
    margin-left: -1px;
}

QTabBar::tab:left:!first,
QTabBar::tab:right:!first{
    margin-top: -1px;
}

QTabBar::tab:!selected:hover {
  background: lighten($background, 4%);
}
