/*===========================================================================*/
/*                                QWidget                                    */
/*===========================================================================*/

QWidget {
    background: $background;
    color: $text-color;
    font: $font-stack;
}
